body,
html {
margin:0;
padding:0;
color:#000;
background:#656d78;
font-family: gothaml;
}

#wrap {
width:1050px;
margin:auto;
background:#1E8BC3;
box-shadow: 0 8px 6px -6px black;
min-height: 100%;
}

#header {
padding: 5px 10px;
background:#3bafda;
color: #fff;
width: 1030px;
}

#header ul {
margin:0;
padding:0;
list-style:none;
text-align:left;
word-spacing: 40px;
margin-right: 40px;
}

#header li {
margin:0;
padding:0;
display: inline-block;
font-size: 20px;
}
a {
  color: #fff;
}
a:link {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #D2D7D3;
}
a:hover:visited {
  color: #D2D7D3;
}


h1 {
margin: 0;
text-align: center;
}
h2 {
  margin:0 0 1em;
}
h3{
  margin: 0 0;
  text-align: left;
  font-size: 16px;
}
h4{
  margin: 0 0;
  text-align: right;
  font-size: 16px;
}
#nav {
background:#434a54;
padding: 5px 10px;
color: #fff;
width: 760px;
}
#nav h1 {
  font-family: gothaml;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
#main {
float: left;
width: 760px;
padding: 10px;
background:#FFF;
color: #434a54;
line-height: 5px;
font-family: gotham;
}

#main-date {
  color: #BDC3C7 !important;
  text-align: center;
  padding: 5px;
}

#main p {
  font-family: gotham;
  font-size: 16px;
  margin: 0;
}

#dustin {
  color: #656d78 !important;
}

#main img{
border-radius: 10px;
}

#message {
  font-family: gotham;
  font-size: 16px;
}

#sidebar {
float: right;
width: 250px;
padding: 10px;
background:#1E8BC3;
color: #fff;
list-style: none;
text-align: right;
font-family: gothaml;
word-spacing: 3px;
line-height: 10px;
border: 0 1px 0 0;
margin: 0 0 0 0 ;
max-height: 100%;
}

#sidebar img {
  border-radius: 10px;
}

#sidebar ul,li{
  list-style: none;
  margin-top: 3px;
}

#footer {
clear: both;
padding: 1px 1px;
background:#fff;
width: 778px;
}
#footer p {
  margin:0;
}

@font-face {
  font-family: gotham;
  src: url(assets/Gotham-Medium.otf);
}

@font-face {
  font-family: gothaml;
  src: url(assets/Gotham-Light.otf);
}

#message {
  font-family: gotham;
}

#message input {
  vertical-align:middle;
  font-weight:normal;
  font-size: 16px;
  font-family: gotham;
  border: 1px solid blue;
}
#message input[type="text"] {
  width:580px;
  padding:8px 87px 8px 8px;
  background:#fff;
  border:1px solid #207cca;
  font-family: gotham;
}
#message input[type="submit"] {
width:40px;
margin-left:-40px;
padding:8px;
border:none;
color:#333;
background: #ccc;
}

#message input[type="button"] {
  position:relative;
  padding:6px 15px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
#search input {
  vertical-align:middle;
  font-weight:normal;
  font-size: 16px;
  font-family: gotham;
  border: 1px solid blue;
}
#search input[type="text"] {
  width:250px;
  padding:8px 30px 8px 8px;
  background:#fff;
  border:1px solid #207cca;
  font-family: gotham;
}
#search input[type="button"] {
  position:relative;
  padding:6px 15px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

.timestamp {
  float: right;
  margin: 12px;
  color: #BDC3C7;
  font-family: gothaml;
}

.chat-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle
}

.main-user {
  color: #95A5A6;
}

.search-box {
  position: relative;
  left: 17px;
}
